# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/autom4te.cache/
/autoscan.log
/configure.scan
/configure
/config.h.in
/config.h
/config.log
/config.status
/aclocal.m4
/stamp-h1
/libtool
.deps
.dirstamp
Makefile.in
Makefile
